.left-side{ 
    width: 50%;
    text-align: left;
    padding-left: 20px;
}

.main-body{ 
    background-color: antiquewhite;
    width: 100%;
    display: flex;
}
.total-customer{ 
    width: 20%;
    display: flex;

}
.total-customer h4{ 
    border-radius: 25px;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding: 10px;
}
.visitors{ 
    width: 25%;

}
.visitors h4{ 
   background-color: darkblue;
   border-radius: 20px;
   text-align: center;
   color: white;
   padding: 10px;
}
.total-delivary{ 
    width: 25%;
}
.total-delivary h4{ 
    background-color: cornflowerblue;
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 10px;
    padding-left: 10px;
}
.total-customer{ 
    width: 25%;
    display: flex;
}
.total-customer h4 { 
    background-color: blueviolet;
    color: white;
    border-radius: 20px;
    padding-left: 10px;
    text-align: center;
}